* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Overall container with dark background */
.app-container {
  min-height: 100vh;
  background-color: #1a1a1a; /* Dark background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: #fff;
  padding: 14rem 2rem 2rem 2rem;
  font-family: sans-serif;
}

/* Logout button styles (placed in the top-right) */
.logout {
  position: absolute; /* Position relative to the .app-container */
  top: 2.5rem; /* Adjust distance from the top */
  right: 3rem; /* Adjust distance from the right */
  background-color: #1db954; /* Green button color */
  border: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout:hover {
  background-color: #ab47fe; /* changes color on hover */
}

/* Heading in green */
.heading {
  color: #1db954; /* Bright green color */
  margin-bottom: 4rem;
  font-size: 2rem;
  text-align: center;
}

/* Input wrapper to ensure gradient border is clearly visible */
.input-wrapper {
  margin-top: 0.3rem;
  margin-bottom: 2.8rem;
  border: 1px solid transparent;
  background-image: linear-gradient(to right, #8a2be2, #0000ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 8px;
  padding: 2px;
}

/* Text input */
.gradient-input {
  width: 300px;
  padding: 0.75rem 1rem;
  border: 3px solid transparent;
  outline: none;
  font-size: 1rem;
  color: #000000;
  background-color: #C4C4C4;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 8px;
}

/* Button styles */
.generate-button {
  background-color: #1db954; /* Green button color */
  border: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  border-radius: 20px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.generate-button:hover {
  background-color: #ab47fe; /* changes color on hover */
}

/* Button styles */
.export-button {
  background-color: #1db954; /* Green button color */
  border: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.75rem 1.2rem;
  border-radius: 20px;
  margin-top: 5.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.export-button:hover {
  background-color: #ab47fe; /* changes color on hover */
}

/* Refresh button */
.refresh-button {
  background: none;
  border: none;
  color: #C4C4C4;
  font-size: 2.6rem;
  margin-left: 73.2rem;
  margin-top: -2.37rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; 
  transform: rotate(90deg); 
}

/* Apply rotation only when the 'rotated' class is added */
.refresh-button.rotated {
  transform: rotate(448deg); 
}

/* Albums container */
.albums-container {
  display: flex;
  gap: 6rem;
  margin-top: 3.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual album card */
.album-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  opacity: 0; /* Start invisible */
  transform: translateY(20px); /* Start below the original position */
  animation: fadeIn 0.3s forwards; /* Apply fadeIn animation */
}

/* Add delay for each album to appear one after the other */
.album-card.reset-animation {
  animation: fadeIn 0.3s forwards; /* Trigger animation reset */
}

/* Animation for fading in albums */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add delay for each album to appear one after the other */
.album-card {
  animation-delay: 0s; /* Default value */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}

/* Wrapper for the album image with a gradient border */
.album-image-wrapper {
  border: 3px solid transparent;
  background-image: linear-gradient(to right, #8a2be2, #0000ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 8px;
  padding: 4px;
}

/* Actual album image */
.album-image {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 3px;
}

.album-title {
  position: absolute; 
  top: -41.2px; 
  left: 50%; 
  transform: translateX(-50%);
  font-size: 17px;
  font-weight: bold;
  color: #C4C4C4; 
  padding: 5px 10px;
  border-radius: 5px; 
  z-index: 2; 
  white-space: nowrap; 
}




/* Space under the image */
.album-frame {
  margin: 0.6rem 0;
  font-size: 0.9rem;
}

/* Icons row for minus and heart */
.album-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.minus-icon {
  background: none; /* No background for the button */
  border: none; /* No border */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  transition: transform 0.2s ease-in-out, color 0.3s ease; /* Smooth transition for color and transform */
}

.heart-icon {
  margin-top: -1px;
  background: none; /* No background for the button */
  border: none; /* No border */
  padding: 0; /* Remove padding */
  cursor: pointer; /* Pointer cursor to indicate it's clickable */
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out, color 0.3s ease; /* Smooth transition for color and transform */
}

/* Hover effect for color change */
.minus-icon:hover, .heart-icon:hover {
  animation: scaleAndRotate 0.5s ease-in-out forwards; /* Apply hover animation */
}

/* Define the shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Hover effect on image inside the button (for minus icon with shake animation) */
.minus-icon.clicked img {
  filter: invert(10%) sepia(100%) saturate(10000%) hue-rotate(0deg) brightness(90%) contrast(130%);
  animation: shake 0.5s ease-in-out; /* Apply the shake animation */
}

/* Hover effect on image inside the button (for heart/like icon) */
.heart-icon.clicked svg {
  filter: invert(37%) sepia(68%) saturate(5939%) hue-rotate(105deg) brightness(97%) contrast(101%);
  animation: fillHeart 0.5s ease forwards, scaleHeart 0.4s ease-out forwards; /* Apply fill and scale animations */
}

/* Define the fill animation for heart icon */
@keyframes fillHeart {
  0% {
    fill: transparent; 
  }
  100% {
    fill: #1db954; 
  }
}

/* Animation for scaling the heart */
@keyframes scaleHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5); 
  }
  100% {
    transform: scale(1); 
  }
}


/* Login css */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.login-container {
  display: flex;
  width: 100%;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  flex: 1;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;
}

.login-form label {
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-field {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #1db954;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-link {
  color: #1db954;
  margin-top: 20px;
  text-decoration: none;
  font-size: 14px;
}

.signup-link:hover {
  text-decoration: underline;
}


/* Register css */
.register-container {
  display: flex;
  width: 100%;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  flex: 1;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 300px;
}

.register-form label {
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-field {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: white;
}

.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #1db954;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.login-link {
  color: #1db954;
  margin-top: 20px;
  text-decoration: none;
  font-size: 14px;
}

.login-link:hover {
  text-decoration: underline;
}

